*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 90px;
    background-color: black;
}


.add{
    color: white;
}

.course{
   color: white;
}



